<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cap.o2o.dao.LogTimeMapper" >
  <resultMap id="BaseResultMap" type="com.cap.o2o.entity.model.log.LogTime" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="method_class" property="methodClass" jdbcType="VARCHAR" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="request_uri" property="requestUri" jdbcType="VARCHAR" />
    <result column="request_type" property="requestType" jdbcType="VARCHAR" />
    <result column="request_ip" property="requestIp" jdbcType="VARCHAR" />
    <result column="request_args" property="requestArgs" jdbcType="VARCHAR" />
    <result column="execution_time" property="executionTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, method_class, method_name, request_uri, request_type, request_ip, request_args, 
    execution_time, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from log_time
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from log_time
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cap.o2o.entity.model.log.LogTime" >
    insert into log_time (id, method_class, method_name, 
      request_uri, request_type, request_ip, 
      request_args, execution_time, update_time, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{methodClass,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, 
      #{requestUri,jdbcType=VARCHAR}, #{requestType,jdbcType=VARCHAR}, #{requestIp,jdbcType=VARCHAR}, 
      #{requestArgs,jdbcType=VARCHAR}, #{executionTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cap.o2o.entity.model.log.LogTime" >
    insert into log_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="methodClass != null" >
        method_class,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="requestUri != null" >
        request_uri,
      </if>
      <if test="requestType != null" >
        request_type,
      </if>
      <if test="requestIp != null" >
        request_ip,
      </if>
      <if test="requestArgs != null" >
        request_args,
      </if>
      <if test="executionTime != null" >
        execution_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="methodClass != null" >
        #{methodClass,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null" >
        #{requestType,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null" >
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestArgs != null" >
        #{requestArgs,jdbcType=VARCHAR},
      </if>
      <if test="executionTime != null" >
        #{executionTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cap.o2o.entity.model.log.LogTime" >
    update log_time
    <set >
      <if test="methodClass != null" >
        method_class = #{methodClass,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        request_uri = #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null" >
        request_type = #{requestType,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null" >
        request_ip = #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestArgs != null" >
        request_args = #{requestArgs,jdbcType=VARCHAR},
      </if>
      <if test="executionTime != null" >
        execution_time = #{executionTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cap.o2o.entity.model.log.LogTime" >
    update log_time
    set method_class = #{methodClass,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      request_uri = #{requestUri,jdbcType=VARCHAR},
      request_type = #{requestType,jdbcType=VARCHAR},
      request_ip = #{requestIp,jdbcType=VARCHAR},
      request_args = #{requestArgs,jdbcType=VARCHAR},
      execution_time = #{executionTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>